.root {
  display: block;
  width: 600px;
  position: relative;
  background: none;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  justify-self: flex-start;
  height: 196px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.5s;
}
@media (max-width: 1280px) {
  .root {
    width: 440px;
    height: 220px;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .root {
    width: 390px;
    height: 195px;
    background: none;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .root {
    height: 158px;
    width: 100%;
    justify-self: flex-start;
    max-width: 320px;
    min-width: 0;
  }
}
.printer {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.printer > picture > img {
  object-fit: cover;
}
@media (max-width: 1280px) {
  .printer {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .printer {
    height: 158px;
    width: 320px;
  }
}
.nvsButton:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 163px;
  top: 264px;
}
@media (max-width: 1280px) {
  .nvsButton:global(.__wab_instance) {
    top: 193px;
    left: 119px;
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .nvsButton:global(.__wab_instance) {
    top: 172px;
    left: 106px;
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .nvsButton:global(.__wab_instance) {
    top: 140px;
    left: 87px;
    width: 14px;
    height: 14px;
  }
}
.legButton:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 223px;
  top: 269px;
  height: 18px;
  width: 26px;
  right: 351px;
}
@media (max-width: 1280px) {
  .legButton:global(.__wab_instance) {
    top: 197px;
    left: 162px;
    width: 20px;
    height: 15px;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .legButton:global(.__wab_instance) {
    top: 176px;
    width: 18px;
    left: 144px;
    height: 12px;
    right: 228px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .legButton:global(.__wab_instance) {
    left: 117px;
    top: 141px;
    width: 16px;
    height: 11px;
  }
}
.longerSheet {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 33px;
  top: -80px;
  height: 102px;
  width: auto;
  right: 56px;
  display: none !important;
}
.longerSheet > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 450px) {
  .longerSheet {
    display: block !important;
  }
}
.printedArea {
  display: block;
  position: absolute;
  width: auto;
  height: 70px;
  max-width: 100%;
  top: 6px;
  left: 134px;
  right: 152px;
  padding: 0px;
}
@media (max-width: 1280px) {
  .printedArea {
    height: 52px;
    width: 228px;
    top: 3px;
    left: 100px;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .printedArea {
    left: 88px;
    height: 46px;
    width: 201px;
    right: 101px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .printedArea {
    left: 69px;
    top: -79px;
    height: 81px;
    width: 165px;
    padding-right: 3px;
  }
}
.text {
  transform: skewX(-5deg) skewY(0deg);
  color: #333333;
  font-family: "Courier Prime";
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  left: 0%;
  top: 0%;
  width: auto;
  right: 10%;
  height: auto;
  bottom: 5.5%;
  padding-right: 0px;
  display: none;
}
@media (max-width: 1280px) {
  .text {
    font-size: 13px;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .text {
    font-size: 11px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .text {
    bottom: 26.73%;
    transform: skewX(-8deg) skewY(0deg);
    font-size: 12px;
  }
}
.textprintedPapers_nvs {
  display: block;
}
.textprintedPapers_leggedLocomotion {
  display: block;
}
.link {
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 39px;
  height: 18px;
  max-width: 100%;
  left: 261px;
  top: 47px;
  margin-right: 0px;
  cursor: pointer;
  display: none;
  padding: 0px;
}
@media (max-width: 1280px) {
  .link {
    top: 32px;
    left: 186px;
    width: 36px;
    height: 16px;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .link {
    left: 159px;
    top: 24px;
    width: 32px;
    height: 14px;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .link {
    left: 25px;
    top: 94px;
    display: none;
  }
}
.linkprintedPapers_nvs {
  display: flex;
}
.img__iLex {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  filter: grayscale(100%);
  transform: skewX(-4deg) skewY(0deg);
  backdrop-filter: none;
  height: 100%;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: none;
}
.img__iLex > picture > img {
  object-fit: cover;
}
@media (max-width: 1280px) {
  .img__iLex {
    top: 0px;
    left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .img__iLex {
    left: 6px;
    top: 4px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .img__iLex {
    left: 0px;
    top: 0px;
  }
}
.conf {
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 39px;
  height: 18px;
  max-width: 100%;
  left: 261px;
  top: 21px;
  margin-right: 0px;
  cursor: pointer;
  display: none;
  padding: 0px;
}
@media (max-width: 1280px) {
  .conf {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 16px;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .conf {
    left: 0px;
    top: 0px;
    width: 32px;
    height: 14px;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .conf {
    left: 0px;
    top: 0px;
    display: none;
  }
}
.confprintedPapers_nvs {
  display: flex;
}
.confprintedPapers_leggedLocomotion {
  width: 46px;
  display: flex;
}
.img___6Sane {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: -9px;
  width: 100%;
  filter: grayscale(100%);
  transform: skewX(-4deg) skewY(0deg);
  backdrop-filter: none;
  height: 31px;
  min-width: 0;
  -webkit-backdrop-filter: none;
}
.img___6Sane > picture > img {
  object-fit: cover;
}
@media (max-width: 1280px) {
  .img___6Sane {
    top: 0px;
    left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .img___6Sane {
    left: 6px;
    top: 4px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .img___6Sane {
    left: 0px;
    top: 0px;
  }
}
.imgprintedPapers_leggedLocomotion___6SaneNqIl {
  perspective: 0px;
  transform: perspective(0px) skewX(-4deg) skewY(0deg);
  transform-origin: 0% 0%;
  height: 12px;
}
.sheetWheel {
  display: block;
  position: absolute;
  width: auto;
  height: 34px;
  max-width: 100%;
  left: 526px;
  top: 108px;
  margin-right: 0px;
  cursor: pointer;
  right: 61px;
  padding: 0px;
}
@media (max-width: 1280px) {
  .sheetWheel {
    left: 386px;
    top: 80px;
    height: 25px;
    margin-right: 0px;
    width: 9px;
  }
}
@media (min-width: 0px) and (max-width: 850px) {
  .sheetWheel {
    left: 342px;
    top: 72px;
    margin-bottom: 0px;
    height: 22px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .sheetWheel {
    left: 280px;
    top: 57px;
    width: 8px;
    height: 18px;
    right: 32px;
  }
}
